
body {
   font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
 }

a > span{
   padding-bottom: 5px;
   border-bottom: 1px solid #000;
}

span{
   font-size: 12px;
}

input[type="radio"] {
   display: none;
}

label{
   display: inline-flex;
   cursor: pointer;
   font-weight: 500;  
}

label span{
   display: inline-flex;
   border-radius: 31px;
}

label span:before{
   content: '';
   width: 12px;
   height: 12px;
   border-radius: 50%;
}

input[type="radio"]:checked{
   box-shadow: inset 0 0 0 1px #ffffff;
   border: 1px solid #000;
}

.color-blue > span::before{
   background-color: rgb(175, 230, 255);
   box-shadow:  inset 0 0 0 2px  rgb(175, 230, 255);
}

.color-pink > span::before{
   background-color: rgb(255, 200, 208);
   box-shadow:  inset 0 0 0 2px rgb(255, 200, 208);
}

.color-purple > span::before{
   background-color: rgb(240, 167, 240);
   box-shadow:  inset 0 0 0 2px rgb(240, 167, 240);
}

.color-green > span::before{
   background-color: rgb(188, 241, 187);
   box-shadow:  inset 0 0 0 2px rgb(188, 241, 187);
}

input[type="radio"]:checked + span:before{
   box-shadow: inset 0 0 0 2px #ffffff;
   border: 1px solid #000;
}

.owl-dot{
   display: none!important;
}

.owl-next{
   position: absolute;
   right: 5px;
   z-index: 99;
   top: 35%;
   border: 1px solid #a8a8a8;
   background-color: transparent;
}
.owl-prev{
   position: absolute;
   left: 5px;
   z-index: 99;
   top: 35%;
   border: 1px solid #a8a8a8;
   background-color: transparent;
}
.owl-next > span, .owl-prev > span{
   font-size: 20px;
   padding: 6px;
   margin: 2px;
   align-items: center;
}