@media only screen and (max-width: 600px) {
.product-detail{
    position: absolute;
    top: 15rem;
}
.product-detail h1 {
    color: #fff !important;
}
.product-link span{
    color: #fff !important;
    border-bottom: 2px solid #fff;
}
}